.activitiesSection3RowItemLeft {
			/* max-width: 545px;
			max-height: 570px; */
	flex: 0 0 500px;
}

.activitiesSection3RowItemLeft img {
	max-width: 100%;
	
}

.activitiesSection3 {
	margin-top: 80px;
	margin-bottom: 20px;
	display: flex;
	
}

.activitiesSection3Column {
	display: flex;
	flex-direction: column;
	max-width: 90%;
}

.activitiesSection3Row {
	display: flex;
	margin-bottom: 84px;
}

.activitiesSection3RowItemRight {
	margin-left: 20px;
	padding: 20px 64px;
	flex: 1 1 auto;
}

.activitiesSection3RowItemRight h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #3F4964;
	margin-bottom: 64px;
}

.activitiesSection3RowItemRight p {
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 30px;
	text-align: justify;
	color: #3F4964;
	margin-bottom: 30px;
}

@media screen and (max-width:1350px) {
    .activitiesSection3RowItemRight {
		padding: 20px 20px 20px 20px};
}

@media screen and (max-width:1100px) {
    .activitiesSection3RowItemLeft {
		flex: 0 0 400px;
	}
	.activitiesSection3RowItemRight {
		padding: 0 20px 20px 20px;
	}
}

@media screen and (max-width:800px) {
    .activitiesSection3RowItemLeft {
		flex: 0 0 350px;
	order: 2;}
}


@media screen and (max-width:800px) {
    .activitiesSection3Row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.activitiesSection3RowItemRight h2 {
		text-align: center;
	}
}